@keyframes cart-form-button-issue {
	0% {
        transform: scale(1);
	}

	100% {
		transform: scale(1.1);
	}
}

@keyframes top-cart {
	0% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.top-cart{
    height: 400px;
    background-image: url(img/topcart.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: top-cart 20s linear 0s infinite alternate none;
}

$colorText: #000000;

.heading-big{
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
    margin-top: 127px;
}

.cart{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    &-content{
        grid-column: span 8; 
    }

    &-name-box{
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        color: $colorText;
    }
    
    &-item{
        border-top: 0.5px solid #CACDD8;
        padding-bottom: 32px;
        padding-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;        
    }
    
    &-left{
        display: flex;
        gap: 32px;
        transition: all .3s;
        box-sizing: border-box;
    
    }

    &-left:hover {
        transform: scale(1.05);
    }

    &-info{
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 14px;

        &-heading{
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: $colorText;
        }

        &-text{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #888888;
        }

        &-price{
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #050505;
            padding-top: 2px;
        }
    }

    &-form{
        background: #F7F6F6;
        border-radius: 20px;
        height: 556px;
        grid-column: span 4;


        &-heading{
            display: flex;
            justify-content: center;
            padding-top: 42px;
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: $colorText;
        }

        &-data{
            padding-left: 27px;
        }

        &-input{
            border:none;
            background: #F7F6F6;
            outline: none;
            border-bottom: 0.5px solid #CACDD8;
            width: 288px;
            padding-top: 35px;
            font-family: 'Montserrat';
        }

        &-input::placeholder{
            color: $colorText;
        }

        &-end{
            display: flex;
            justify-content: center;
            padding-top: 64px;
            padding-bottom: 18px;
            gap: 5px;
        }

        &-total{
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: $colorText;
        }

        &-price{
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            display: flex;
            align-items: center;
            text-align: center;
            color: $colorText;
        }

        &-button{
            display: flex;
            justify-content: center;

            &-issue{
                border: 1px solid #000000;
                border-radius: 50px;
                box-sizing: border-box;
                width: 290px;
                height: 41px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: $colorText;
                background-color: transparent;
                animation: cart-form-button-issue 2s ease 0s infinite normal forwards;
            }   

            &-issue:hover{
                background-color: rgb(82, 77, 77);
                color: #FFFFFF;
            }
        }
    }

    &-link-box{
        display: flex;
        gap: 30px;
    
        &-delete{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 210%;
            text-decoration-line: underline;
            color: $colorText;

            &:hover{
                color: rgb(82, 77, 77);
            }
        }
    }

    &-input{
        background: #F7F6F6;
        border-radius: 6px;
        height: 51px;
        width: 71px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 210%;
        color: $colorText;
        outline: none;
        padding-left: 10px;
    }

    &-button-box{
        display: flex;
        gap: 7px;
        padding-top: 18px;
        
        &-1{
            border: 1px solid #000000;
            border-radius: 50px;
            box-sizing: border-box;
            width: 200px;
            height: 37px;
            font-family: 'Montserrat';
            font-size: 14px;
            line-height: 17px;
            color: $colorText;
            font-style: normal;
            font-weight: 400;
            background-color: transparent;
            transition: all .3s;
        }

        &-1:hover{
            background-color: rgb(82, 77, 77);
            color: #FFFFFF;
            transform: scale(1.05);
            box-shadow: 0 0 5px #ccc;
        }
    }
}
